<template>
  <div class="wrapper">
    <div class="decimal">
      <custom-input
        class="numerator"
        type="number"
        :disable="disable"
        :input_width="input_width"
        v-model="decimal.numerator"
        v-on:input="$emit('input', {
          numerator: parseInt($event),
          denominator: parseInt(decimal.denominator),
        })"
        v-on:text_width_change="numerator_width = $event"
      />
      <custom-input
        class="denominator"
        type="number"
        :disable="disable"
        :input_width="input_width"
        v-model="decimal.denominator"
        v-on:input="$emit('input', {
          numerator: parseInt(decimal.numerator),
          denominator: parseInt($event),
        })"
        v-on:text_width_change="denominator_width = $event"
      />
    </div>
  </div>
</template>

<script>
import CustomInput from './CustomInput.vue';

export default {
  name: 'Fraction',
  components: { CustomInput },
  props: {
    decimal: {
      default() {
        return {
          numerator: 1,
          denominator: 2,
        };
      },
    },
    disable: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      numerator_width: 40,
      denominator_width: 40,
    };
  },
  computed: {
    input_width() {
      return this.numerator_width > this.denominator_width
        ? this.numerator_width : this.denominator_width;
    },
  },
};
</script>

<style type="text/scss" scoped>
.wrapper {
  display: block;
}
.decimal {
  display: grid;
  grid-template-columns: 0fr;
}
.numerator {
  border-bottom: 2px solid black;
}
</style>
