<template>
  <div class="wrapper">
    <div class="expression">
      <div class="decimals">
        <div class="container" v-for="(item, index) in decimals_list" :key="index">
          <div>
            <fraction :decimal="item" />
            <div class="icon trash"
                 v-if="decimals_list.length > 2"
                 @click="decimals_list.splice(index, 1)">♻</div>
          </div>
          <span class="icon plus">
            +
          </span>
        </div>
      </div>
      <div class="equal">
        =
      </div>
      <fraction :decimal="result" />
    </div>
    <button @click="new_decimal" v-if="decimals_list.length < 5" >add new</button>
  </div>
</template>

<script>
import * as FractionExt from 'fraction.js';
import Fraction from './Fraction.vue';


export default {
  name: 'SumFraction',
  components: { Fraction },
  data() {
    return {
      decimals_list: [
        {
          numerator: 1,
          denominator: 2,
        },
        {
          numerator: 2,
          denominator: 3,
        },
        {
          numerator: 4,
          denominator: 5,
        },
      ],
    };
  },
  methods: {
    new_decimal() {
      if (this.decimals_list.length < 5) {
        this.decimals_list.push({
          numerator: 1,
          denominator: 2,
        });
      }
    },
  },
  computed: {
    result() {
      if (this.decimals_list.length > 0) {
        let fr = new FractionExt(1);
        this.decimals_list.forEach((item) => {
          fr = fr.lcm(item.denominator);
        });
        const numerator = this.decimals_list.reduce((sum, cur, index) => {
          return sum + cur.numerator * (fr.n / this.decimals_list[index].denominator);
        }, 0);
        const gcd = new FractionExt(fr.n).gcd(numerator);
        return {
          numerator: numerator / gcd.n,
          denominator: fr.n / gcd.n,
        };
      }
      return {
        numerator: null,
        denominator: null,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
  .decimals, .expression {
    display: flex;
    flex-wrap: wrap;
  }
  .trash {
    cursor: pointer;
    text-align: center;
    color: red;
    font-size: 24px;
  }
  .equal, .plus {
    font-size: 32px;
    font-weight: 400;
    line-height: 70px;
    margin: 0 10px;
  }
  .container {
    display: flex;
    &:last-of-type .plus {
      display: none;
    }
  }
</style>
